variable "tenancy_ocid" {
  description = "OCI Tenancy OCID"
  default     = ""
}

variable "ssh_public_key" {
  description = "SSH public key for the `ubuntu` user"
  default     = ""
}

variable "password" {
  description = "Password"
  default     = ""
  sensitive   = true
}

variable "github_username" {
  description = "GitHub Username for `docker login ghcr.io`"
  default     = ""
  sensitive   = true
}

variable "github_access_token" {
  description = "GitHub Access Token(read:packages) for `docker login ghcr.io`"
  default     = ""
  sensitive   = true
}

variable "application_domain" {
  description = "`application` Domain"
  default     = ""
  sensitive   = true
}
